
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1040px;
    margin: auto;
}

/*-- Header --*/

.logo-link {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

nav {
    width: 800px;
    margin: auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    font-family: inherit;
    text-decoration: none;
    color: white;
}

    .nav-link:hover {
        color: #9b9b9b;
    }

.header {
    background-color: #5683DC;
    height: 80px;
    margin: 0;
    padding: 0 40px;
}

/*-- Main --*/

.main-text {
    text-align: center;
    font-size: 40px;
}


/*-- Form --*/

#enter-form {
    display: flex;
    width: 660px;
    margin: auto;
    position: relative;
}

.input-url, #input-url {
    width: 600px;
    height: 40px;
    border-radius: 25px 0 0 25px;
    border: 1px solid rgb(136, 135, 135);
    border-right: none;
    padding: 10px;
    padding-left: 20px;
    font-size: 20px;
}

    .input-url,#input-url:focus {
        outline: none;
    }

.shortened-link {
    margin: auto;
    width: 660px;
    position: relative;
}

.shortened {
    border-radius: 25px;
    border: 1px solid grey;
    width: 660px;
    margin: auto;
}

.btn-submit {
    background: url("../img/scissor_icon.png") no-repeat center;
    background-size: 50% 50%;
    background-color: #5683DC;
    width: 60px;
    height: 40px;
    border-radius: 0 25px 25px 0;
    border: none;
    border-left: none;
}

    .btn-submit:hover {
        background-color: #3d6fd3;
        cursor: pointer;
    }

.wrong-input {
    position: absolute;
    z-index: 100;
    bottom: -20px;
    left: 20px;
    font-size: 13px;
    color: #c22121;
    display: none;
}

.wrong-input-opened {
    display: flex;
}

.redirect-link {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    background-color: #5683DC;
    border: 1px solid #000;
    border-radius: 25px;
}

    .redirect-link:hover {
        background-color: #3d6fd3;
    }

.copy-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #5683DC;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

    .copy-btn:hover {
        background-color: #3d6fd3;
    }

.table {
    max-width: 600px;
    margin: auto;
}

    .table tr th {
        border-bottom: 1px solid #000;
        background-color: white;
    }

    .table tr:nth-child(odd) {
        background-color: #dcdee4;
    }

    .table tr td:nth-child(2) {
        max-width: 400px;
        overflow:hidden;
    }

.back-btn {
    display: block;
    width: 100px;
    margin: 20px auto;
    background-color: #5683DC;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;

    font-size: 15px;
    text-decoration: none;
    font-family: inherit;
    color: #fff;
}
    .back-btn:hover {
        background-color: #3d6fd3;
    }

.empty-link {
    background-color: #d6d5d5;
    border-radius: 10px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    opacity: 0;
    width: 120px;
    margin: 10px auto;
    font-size: 9px;
    transition: 0.5s;
}

.empty-link-opened {
    opacity: 100%;
}

.empty-link::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 5px solid #d6d5d5;
    transform: translate(-50%, 0);
}
